@model IEnumerable<Ability_Analysis_Report.Controllers.ReportController.ViewData_ExamineeAnswerStatus>
@{
    ViewBag.Title = "ReportVer2_HTML";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @section styles{
        <link href="~/MoiraTool/Plugins/Datatables/Styles/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="~/MoiraTool/Plugins/Chart.js/Styles/Chart.min.css" rel="stylesheet" />
        <link href="~/MoiraTool/Plugins/Chart.js/Custom.css" rel="stylesheet" />
        <link href="~/Content/Custom_Global.css" rel="stylesheet" />
        <link href="~/Content/Custom_Cover.css" rel="stylesheet" />
        <link href="~/Content/Custom_Cover_EarthArea.css" rel="stylesheet" />
        <link href="~/Content/Custom_Page1.css" rel="stylesheet" />
    }
    @section scripts{
        <script src="~/MoiraTool/Plugins/Font_awesome_5.13.0/all.min.js"></script>
        <script src="~/MoiraTool/Plugins/PrintArea/jquery.PrintArea.js"></script>
        <script src="~/MoiraTool/Plugins/Datatables/Scripts/jquery.dataTables.min.js"></script>
        <script src="~/MoiraTool/Plugins/Datatables/Scripts/dataTables.bootstrap.min.js"></script>
        <script src="~/MoiraTool/Plugins/Datatables/UseDatatables.js"></script>
        <script src="~/MoiraTool/Plugins/Chart.js/Scripts/Chart.min.js"></script>
        <script src="~/MoiraTool/Plugins/Chart.js/Custom_Draw.js"></script>
        <script src="~/MoiraTool/Plugins/LoadingModal/UseLoadingModal.js"></script>
    }
</head>

<br />
@*<h2>ReportVer2_HTML</h2>*@

<button class="btn btn-info notShowPrint" id="btnPrint" onclick="PrintArea()" @*style="display:none;"*@>Print Area</button>
<body>
    <div id="print">

        <div id="cover">
            <!-- PC Cover Start -->
            <div class="container notShowMoblie" style="width:100%">

                <div class="row">
                    <div class="col-lg-12" id="printHeaderArea">
                        <div id="printHeader">

                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <span class="reportTitle">T Q C  資 訊 科 技 素 養 能 力 測 驗  (  P y t h o n  )  分 析 報 告</span>
                </div>
                <div class="row">
                    <span class="reportSecondTitle printPaddingleft50">Analysis Report of Infomation Technology Literacy</span>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7 " id="cover_ExamInfoArea">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" id="cover_ExamInfo_Calendar_Icon">
                                    <i class="fas fa-calendar-check fa-2x"></i>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                    <span class="examInfo_Data">2020/05/08</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 divExamInfo_DataArea_Top">
                                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" id="cover_ExamInfo_User_Icon">
                                    <i class="fas fa-user fa-2x"></i>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                    <span class="examInfo_Data">韓羽伶</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 divExamInfo_DataArea_Bottom">
                                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                    <i class="fas fa-school fa-2x"></i>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                    <span class="examInfo_Data">德明財經大學</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 divExamInfo_DataArea_Bottom">
                                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                    <i class="fas fa-id-card fa-2x"></i>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                                    <span class="examInfo_Data">A123456789</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="earthImageArea" class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
                        <img id="earthImage" src="~/Images/earth.png" />
                        <hr id="earthBackLine_blackLine" class="blackLine" />
                        <hr id="earthBackLine_grayLine" class="grayLine" />
                    </div>

                </div>

                <div class="row">
                    <div class="" id="coverTableArea_PC">
                        <table id="coverTable_PC">
                            <thead>
                                <tr>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

                                    </th>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">總題數</th>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">正確題數</th>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">錯誤題數</th>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">正確率</th>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">得分</th>
                                    <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">測驗結果</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>成績</td>
                                    <td>50題</td>
                                    <td>40題</td>
                                    <td>10題</td>
                                    <td>80%</td>
                                    <td>96分</td>
                                    <td>合格</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row text-left">
                    <div id="coverIntroductionArea" class="printPaddingleft50">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span style="font-size:30px">簡介</span>
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <p style="font-size:20px;padding-left:50px">
                                108課綱中，科技領域是一個跨學科知識的整合性學科。其中，資訊科技主要以「運算思維」為主軸・並以電腦科學的原理與應用、資訊系統設計與寶作、資訊科技與社會為主要內涵。培養學生邏輯思考，設計思考以及理解與思辯科技議題的能力，建立資訊社會中公民應有的態度與責任。
                            </p>
                            <br />
                            <p style="font-size:20px;padding-left:50px">
                                財團法人電腦技能基金會規劃了TQC資訊科技素養能力測驗，測驗內容經由產官學研之專家由淺入深的編排，以知識體系為導向·分為六大類:「資料結構與演算法」、「程式設計」、「系統平台」、「資料表示、處理及分析」、「資訊科技應用」、「資訊科技與社會人類」·經由循序漸進的學習·瞭解資訊科技的基礎知識。
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12" id="printFooter_coverArea">
                        <div id="printFooter_cover">

                        </div>
                    </div>
                </div>
            </div>

            <!-- PC Cover End -->
            <!-- Moblie Cover Start -->
            <div class="container notShowPC" style="width:100%">
                <div class="row text-center">
                    <span style="font-size:30px">TQC 資訊科技素養能力測驗 ( Python ) 分析報告</span>
                </div>

                <div class="row text-center">
                    <span style="font-size:20px">Analysis Report of Infomation Technology Literacy</span>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" id="cover_ExamInfoArea">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="cover_ExamInfo_Calendar_Icon">
                                    <i class="fas fa-calendar-check fa-2x"></i>
                                </div>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 divExamInfo_Data">
                                    <span class="examInfo_Data">2020/05/08</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 divExamInfo_DataArea_Top">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="cover_ExamInfo_User_Icon">
                                    <i class="fas fa-user fa-2x"></i>
                                </div>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 divExamInfo_Data">
                                    <span class="examInfo_Data">韓羽伶</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 divExamInfo_DataArea_Bottom">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <i class="fas fa-school fa-2x"></i>
                                </div>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 divExamInfo_Data">
                                    <span class="examInfo_Data">XX大學</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 divExamInfo_DataArea_Bottom">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <i class="fas fa-id-card fa-2x"></i>
                                </div>
                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 divExamInfo_Data">
                                    <span class="examInfo_Data">A123456789</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="earthImageArea" class="col-sm-4 col-md-4 col-lg-4 hidden-xs">
                        <img id="earthImage" src="~/Images/earth.png" width="250" height="250" />
                        <hr id="earthBackLine_blackLine" class="blackLine" />
                        <hr id="earthBackLine_grayLine" class="grayLine" />
                    </div>
                </div>

                <div class="row" id="coverTableArea_Mobile">
                    <table id="coverTable_PC_Mobile">
                        <thead>
                            <tr>
                                <th class="col-xs-2"></th>
                                <td class="col-xs-10">成績</td>
                            </tr>
                            <tr>
                                <th>總題數</th>
                                <td>50題</td>
                            </tr>
                            <tr>
                                <th>正確題數</th>
                                <td>40題</td>
                            </tr>
                            <tr>
                                <th>錯誤題數</th>
                                <td>10題</td>
                            </tr>
                            <tr>
                                <th>正確率</th>
                                <td>80%</td>
                            </tr>
                            <tr>
                                <th>得分</th>
                                <td>96分</td>
                            </tr>
                            <tr>
                                <th>測驗結果</th>
                                <td>合格</td>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="row text-left">
                    <div id="coverIntroductionArea">
                        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
                            <span style="font-size:30px;padding-left:10px">簡介</span>
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <p style="font-size:20px;padding-left:30px">
                                108課綱中，科技領域是一個跨學科知識的整合性學科。其中，資訊科技主要以「運算思維」為主軸・並以電腦科學的原理與應用、資訊系統設計與寶作、資訊科技與社會為主要內涵。培養學生邏輯思考，設計思考以及理解與思辯科技議題的能力，建立資訊社會中公民應有的態度與責任。
                            </p>
                            <br />
                            <p style="font-size:20px;padding-left:30px">
                                財團法人電腦技能基金會規劃了TQC資訊科技素養能力測驗，測驗內容經由產官學研之專家由淺入深的編排，以知識體系為導向·分為六大類:「資料結構與演算法」、「程式設計」、「系統平台」、「資料表示、處理及分析」、「資訊科技應用」、「資訊科技與社會人類」·經由循序漸進的學習·瞭解資訊科技的基礎知識。
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Moblie Cover End -->
        </div>

        <hr class="notShowPrint" />

        <div id="page1">
            <!-- PC Page1 Start -->
            <div class="container notShowMoblie" style="width:100%">
                <div class="row">
                    <div class="col-lg-12" id="printHeaderArea">
                        <div id="printHeader">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <span class="printPaddingleft50" style="font-size:30px;">資訊科技素養能力測驗 ( Python ) 分析</span>
                </div>
                <div class="row" style="margin-top:30px">
                    <span class="printPaddingleft50" style="font-size:20px;">&nbsp;▶&nbsp;答題狀況</span>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div id="page1TableArea_PC">

                        <!-- Table Question 1 ~ 17 -->
                        <table class="text-center page1Table" id="page1Table_1">
                            <thead>
                                <tr class="headBlack">
                                    <th>
                                        題號
                                    </th>
                                    @foreach (var item in Model.Take(17))
                                    {
                                        <th>
                                            @item.QuestionNum.ToString("0#")
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="middleGray">
                                    <td>
                                        標準答案
                                    </td>
                                    @foreach (var item in Model.Take(17))
                                    {
                                        <td>
                                            @item.StandardAnswer
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        考生答案
                                    </td>
                                    @foreach (var item in Model.Take(17))
                                    {
                                        <td>
                                            @item.ExamineeAnswer
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>

                        <!-- Table Question 18 ~ 34 -->
                        <table class="text-center page1Table" id="page1Table_2">
                            <thead>
                                <tr class="headBlack">
                                    <th>
                                        題號
                                    </th>
                                    @foreach (var item in Model.Skip(17).Take(17))
                                    {
                                        <th>
                                            @item.QuestionNum.ToString("0#")
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="middleGray">
                                    <td>
                                        標準答案
                                    </td>
                                    @foreach (var item in Model.Skip(17).Take(17))
                                    {
                                        <td>
                                            @item.StandardAnswer
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        考生答案
                                    </td>
                                    @foreach (var item in Model.Skip(17).Take(17))
                                    {
                                        <td>
                                            @item.ExamineeAnswer
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>

                        <!-- Table Question 35 ~ 50 -->
                        <table class="text-center page1Table" id="page1Table_3">
                            <thead>
                                <tr class="headBlack">
                                    <th>
                                        題號
                                    </th>
                                    @foreach (var item in Model.Skip(34))
                                    {
                                        <th>
                                            @item.QuestionNum.ToString("0#")
                                        </th>
                                    }
                                    <th>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="middleGray">
                                    <td>
                                        標準答案
                                    </td>
                                    @foreach (var item in Model.Skip(34))
                                    {
                                        <td>
                                            @item.StandardAnswer
                                        </td>
                                    }
                                    <td>
                                    </td>
                                </tr>
                                <tr class="bottomBlack">
                                    <td>
                                        考生答案
                                    </td>
                                    @foreach (var item in Model.Skip(34))
                                    {
                                        <td>
                                            @item.ExamineeAnswer
                                        </td>
                                    }
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" style="margin-top:30px">
                    <span class="printPaddingleft50" style="font-size:20px;">&nbsp;▶&nbsp;素養雷達圖</span><br />
                    <span class="printPaddingleft50" style="font-size:15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由此看來，您表現出來的各領域能力如下圖：</span>
                </div>
                <div class="row" style="margin-top:30px">
                    <div id="divChartContainer_PC" class="chart-container">
                        <!-- 因為 PrintArea 每次都會重新產生 iframe，
                        只好在列印的時候隱藏 canvas，顯示 canvas 轉的 img；
                        在顯示的時候 顯示 canvas，隱藏 canvas 轉的 img -->
                        <canvas class="notShowPrint" id="myChart_PC"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="printFooter_page1Area">
                        <div id="printFooter_page1">

                        </div>
                    </div>
                </div>
            </div>
            <!-- PC Page1 End -->
            <!-- Moblie Page1 Start -->
            <div class="container notShowPC" style="width:100%">
                <div class="row">
                    <span class="printPaddingleft50" style="font-size:30px;">資訊科技素養能力測驗 ( Python ) 分析</span>
                </div>
                <div class="row" style="margin-top:30px">
                    <span class="printPaddingleft50" style="font-size:20px;">&nbsp;▶&nbsp;答題狀況</span>
                </div>
                <div class="row">
                    <table class="page1Table_Moblie text-center" id="tblPage1Table_Moblie">
                        <thead>
                            <tr>
                                <th>題號</th>
                                <td>標準答案</td>
                                <td class="right">考生答案</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>
                                        @item.QuestionNum.ToString("0#")
                                    </th>
                                    <td>
                                        @item.StandardAnswer
                                    </td>
                                    <td class="right">
                                        @item.ExamineeAnswer
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="row" style="margin-top:30px">
                    <span class="printPaddingleft50" style="font-size:20px;">&nbsp;▶&nbsp;素養雷達圖</span><br />
                    <span class="printPaddingleft50" style="font-size:15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由此看來，您表現出來的各領域能力如下圖：</span>
                </div>
                <div class="row" style="margin-top:30px">
                    <div class="chart-container">
                        <canvas id="myChart_Moblie"></canvas>
                    </div>
                </div>
            </div>
            <!-- Moblie Page1 End -->
        </div>


    </div>

    <div class="modal" id="loadingModal">
        <div style="z-index: 20000; position: absolute; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
            <img src="~/MoiraTool/Plugins/LoadingModal/Bean_Eater-1s-200px_darkbg.gif" style="border-radius:100px;z-index: 20000;" />
        </div>
    </div>

    <div id="divOnlyCreateRadarImage" class="chart-container" style="height:300px !important;width:500px !important">
        <canvas id="myChart_Print"></canvas>
    </div>
</body>

<script>
    function PrintArea() {
        if ($('#btnPrint').hasClass('canPrint'))
            $('#print').printArea();
        else
            alert('頁面加載中，請稍後');
    }

    $(document).ready(function () {
        showLoading();// 此頁面加載完雷達圖才會關閉 Loading

        // datatables
        SetDatatables('tblPage1Table_Moblie');

        DrawRadar_PC();

        DrawRadar_Moblie();

        DrawRadar_Print();
    })

    function DrawRadar_PC() {
        let chartData_PC = {
            labels: ['資料結構與演算法', '程式設計', '系統平台', '資料表示、處理及分析', '資訊科技應用', '資訊科技與社會人類'],
            datasets: [{
                label: null,
                data: [82, 64, 89, 71, 100, 88],
                backgroundColor: 'rgba(13, 170, 195, 0.1)',
                borderColor: 'rgba(13, 170, 195, 0.6)',
                pointBorderWidth: 3, // 點寬
                borderWidth: 3, // 線寬
            }]
        };

        let chartOptions_PC = {
            // 隱藏最上方的 label ( Data 的標籤 ( 其他頁面的角色 ) )
            legend: {
                display: false,
            },
            //responsive: false, // 依照畫布(canvas)調整大小
            maintainAspectRatio: false, // 調整大小時，保持原始畫布的寬高比，若要更改 Size，必須調整成 false。
            scale: {
                // 外圈 Label 的字體尺寸
                pointLabels: {
                    fontSize: 15,
                    fontStyle: 'bold', // 粗體
                    fontColor: 'black', // 黑色
                },
                gridLines: {
                    // 雷達圖底線的顏色，支援多種顏色 ( Ex. color: ['black', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo'] )
                    color: 'DarkGray'
                },
                // 刻度
                ticks: {
                    // 圖的數值 Range
                    min: 0,
                    max: 100,
                    display: false,
                    //backdropColor: 'black', // 更改背景顏色
                    //showLabelBackdrop: false, // 畫背景色，預設為 true
                }
            },

            // 防止滑鼠移上去時，數字閃爍
            hover: {
                animationDuration: 0
            },

            animation: {
                // 畫完後的事件 ( 每次放大縮小都會重畫 )
                onComplete: function () {
                    // 數值顯示在點的旁邊
                    var chartInstance = this.chart,

                        ctx = chartInstance.ctx;
                    // 以下屬於canvas的屬性（fontSize、fillStyle、textAlign...）
                    ctx.font = Chart.helpers.fontString(16, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                    ctx.fillStyle = "black";
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'bottom';

                    this.data.datasets.forEach(function (dataset, i) {
                        var meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index] + '%'; // 數值顯示的字
                            ctx.fillText(data, bar._model.x, bar._model.y - 5);
                        });
                    });

                    //// 建立一個隱藏的 image 放在 Chart 畫布後方
                    //// 因為 PrintArea 每次都會重新產生 iframe，
                    //// 只好在列印的時候 隱藏 canvas，顯示 canvas 轉的 img
                    //// 在網頁顯示的時候 顯示 canvas，隱藏 canvas 轉的 img
                    //// ( 記得調整 print css )
                    //CreateHiddenImgFromCanvas();

                    //// 畫好該畫的東西才可以按列印
                    //$('#btnPrint').addClass('canPrint');
                    //hideLoading();
                }
            }
        };

        let ctxPC = document.getElementById('myChart_PC');

        var myRadarChart_PC = new Chart(ctxPC, {
            type: 'radar',
            data: chartData_PC,
            options: chartOptions_PC
        });
    }

    function DrawRadar_Print() {
        let chartData_Print = {
            labels: ['資料結構與演算法', '程式設計', '系統平台', '資料表示、處理及分析', '資訊科技應用', '資訊科技與社會人類'],
            datasets: [{
                label: null,
                data: [82, 64, 89, 71, 100, 88],
                backgroundColor: 'rgba(13, 170, 195, 0.1)',
                borderColor: 'rgba(13, 170, 195, 0.6)',
                pointBorderWidth: 3, // 點寬
                borderWidth: 3, // 線寬
            }]
        };

        let chartOptions_Print = {
            // 隱藏最上方的 label ( Data 的標籤 ( 其他頁面的角色 ) )
            legend: {
                display: false,
            },
            //responsive: false, // 依照畫布(canvas)調整大小
            maintainAspectRatio: false, // 調整大小時，保持原始畫布的寬高比，若要更改 Size，必須調整成 false。
            scale: {
                // 外圈 Label 的字體尺寸
                pointLabels: {
                    fontSize: 15,
                    fontStyle: 'bold', // 粗體
                    fontColor: 'black', // 黑色
                },
                gridLines: {
                    // 雷達圖底線的顏色，支援多種顏色 ( Ex. color: ['black', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo'] )
                    color: 'DarkGray'
                },
                // 刻度
                ticks: {
                    // 圖的數值 Range
                    min: 0,
                    max: 100,
                    display: false,
                    //backdropColor: 'black', // 更改背景顏色
                    //showLabelBackdrop: false, // 畫背景色，預設為 true
                }
            },

            // 防止滑鼠移上去時，數字閃爍
            hover: {
                animationDuration: 0
            },

            animation: {
                // 畫完後的事件 ( 每次放大縮小都會重畫 )
                onComplete: function () {
                    // 數值顯示在點的旁邊
                    var chartInstance = this.chart,

                        ctx = chartInstance.ctx;
                    // 以下屬於canvas的屬性（fontSize、fillStyle、textAlign...）
                    ctx.font = Chart.helpers.fontString(16, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                    ctx.fillStyle = "black";
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'bottom';

                    this.data.datasets.forEach(function (dataset, i) {
                        var meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index] + '%'; // 數值顯示的字
                            ctx.fillText(data, bar._model.x, bar._model.y - 5);
                        });
                    });

                    // 建立一個隱藏的 image 放在 Chart 畫布後方
                    // 因為 PrintArea 每次都會重新產生 iframe，
                    // 只好在列印的時候 隱藏 canvas，顯示 canvas 轉的 img
                    // 在網頁顯示的時候 顯示 canvas，隱藏 canvas 轉的 img
                    // ( 記得調整 print css )
                    CreateHiddenImgFromCanvas();

                    // 畫好該畫的東西才可以按列印
                    $('#btnPrint').addClass('canPrint');
                    // 畫完之後在將區塊隱藏 ( 直接隱藏，ChartJs 就不會畫了 )
                    $('#divOnlyCreateRadarImage').hide();

                    hideLoading();
                }
            }
        };

        let ctxPrint = document.getElementById('myChart_Print');

        var myRadarChart_Print = new Chart(ctxPrint, {
            type: 'radar',
            data: chartData_Print,
            options: chartOptions_Print
        });
    }


    function DrawRadar_Moblie() {
        let chartData_Moblie = {
            labels: ['資料結構與\n演算法', '程式\n設計', '系統\n平台', '資料表示、處理\n及分析', '資訊科技\n應用', '資訊科技與\n社會人類'],
            datasets: [{
                label: null,
                data: [82, 64, 89, 71, 100, 88],
                backgroundColor: 'rgba(13, 170, 195, 0.1)',
                borderColor: 'rgba(13, 170, 195, 0.6)',
                pointBorderWidth: 3, // 點寬
                borderWidth: 3, // 線寬
            }]
        };

        let chartOptions_Moblie = {
            // 隱藏最上方的 label ( Data 的標籤 ( 其他頁面的角色 ) )
            legend: {
                display: false,
            },
            //responsive: false, // 依照畫布(canvas)調整大小
            maintainAspectRatio: false, // 調整大小時，保持原始畫布的寬高比，若要更改 Size，必須調整成 false。
            scale: {
                // 外圈 Label 的字體尺寸
                pointLabels: {
                    fontSize: 11,
                    fontStyle: 'bold', // 粗體
                    fontColor: 'black', // 黑色
                },
                gridLines: {
                    // 雷達圖底線的顏色，支援多種顏色 ( Ex. color: ['black', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo'] )
                    color: 'DarkGray'
                },
                // 刻度
                ticks: {
                    // 圖的數值 Range
                    min: 0,
                    max: 100,
                    display: false,
                    //backdropColor: 'black', // 更改背景顏色
                    //showLabelBackdrop: false, // 畫背景色，預設為 true
                }
            },

            // 防止滑鼠移上去時，數字閃爍
            hover: {
                animationDuration: 0
            },

            // 數值顯示
            animation: {
                onComplete: function () {
                    var chartInstance = this.chart,

                        ctx = chartInstance.ctx;
                    // 以下屬於canvas的屬性（fontSize、fillStyle、textAlign...）
                    ctx.font = Chart.helpers.fontString(12, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                    ctx.fillStyle = "black";
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'bottom';

                    this.data.datasets.forEach(function (dataset, i) {
                        var meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index] + '%'; // 數值顯示的字
                            ctx.fillText(data, bar._model.x, bar._model.y - 5);
                        });
                    });
                }
            }
        };

        let ctxMoblie = document.getElementById('myChart_Moblie');

        var myRadarChart_Moblie = new Chart(ctxMoblie, {
            type: 'radar',
            data: chartData_Moblie,
            options: chartOptions_Moblie,
            plugins: [{
                beforeInit: function (chart) {
                    chart.data.labels.forEach(function (e, i, a) {
                        if (/\n/.test(e)) {
                            a[i] = e.split(/\n/);
                        }
                    });
                }
            }]
        });
    }

    function CreateHiddenImgFromCanvas() {
        // 清掉原本的圖
        $('#imageFromMyChart_Print').remove();

        var canvas = document.getElementById('myChart_Print'),
            dataUrl = canvas.toDataURL('image/png', 1), // quality = 1 ( 最佳 )
            imageFoo = document.createElement('img');
        imageFoo.src = dataUrl;

        imageFoo.id = 'imageFromMyChart_Print'
        // Style your image here
        imageFoo.style.display = 'none';
        //imageFoo.style.margin = '0px,0px,200px,0px'
        //imageFoo.style.width = '500px';
        //imageFoo.style.height = '300px';

        // After you are done styling it, append it to the BODY element
        $('#divChartContainer_PC').append(imageFoo);// 放在列印會顯示的位置
    }
</script>